extends layout

block content
  div(class="container lg:container lg:mx-auto sm:mx-auto md:mx-auto mt-5")
    div(class="subheader flex justify-between mb-4 w-full")
      div(class="subtitle")
        h1(class="text-xl") #{title}
      div(class="createNew text-lg")
        a(href='/games/new' class="hover:underline") Create Game
    div(class="container lg grid grid-cols-5 p-4 bg-gray-300 rounded-2xl mx-auto mt-5")
      each game in games
        a(style=`background-image: url(${game.img})` href=`/games/${game.id}` class="relative m-5 bg-cover bg-center bg-no-repeat w-64 h-96")
          div(class="h-8 absolute bottom-0 w-full text-white text-center bg-black bg-opacity-60")
            p(class="text-lg") #{game.title}