extends layout

block content
  div.container
    div.title
      h1 #{title}
    div.content
      each game in games
        button.card(style=`background-image: url(${game.img})` onclick=`moreInfo(${game.id})`)
          div.itemInfo
            div.itemTitle
              p #{game.title}