extends layout

block content
  div.container
    div.title
      h1 Welcome to Gamestop
    section.games
      div.subtitle
        h2 Newly Released
      div.card
        p Call of Duty Cold War
      div.card
        p Assassins Creed Valhalla
      div.card
        p Demon Souls
    section.studios
      div.subtitle
        h2 Popular Studios
      div.card
        p Treyarch
      div.card
        p Ubisoft
      div.card
        p Bluepoint Games