extends layout

block content
  div.container
    div.title
      h1 Welcome to #{title}
    section.games
      div.subtitle
        h2 Newly Released
      div.game
        p Call of Duty Cold War
      div.game
        p Assassins Creed Valhalla
      div.game
        p Demon Souls
    section.studios
      div.subtitle
        h2 Popular Studios
      div.studio
        p Treyarch
      div.studio
        p Ubisoft
      div.studio
        p Bluepoint Games