extends layout

block content
  div.container
    div.subtitle
      h2 Create new game
    form(action='/games/new', method='POST')
      input(type='hidden' name='_csrf' value="{{csrfToken}}")
      p
        | title: 
        input(type='text', name='title', value='')
        |          price: 
        input(type='number', name='price', value='')
        |          studio: 
        input(type='number', name='studio', value='')
        |          type: 
        input(type='number', name='type', value='')
        |          img: 
        input(type='text', name='img', value='')
      input(type='submit', value='Submit')