extends layout

block content
  div.container
    div.subtitle
      h2 Create new studio
    form(action='/studios/compose/new', method='POST')
      p
        | title: 
        input(type='text', name='name', value='')
      input(type='submit', value='Submit')