extends layout

block content
  div.container
    div.subtitle
      h2 Create new studio
    form(action='/studios/new', method='POST')
      input(type='hidden' name='_csrf' value="{{csrfToken}}")
      p
        | title: 
        input(type='text', name='name', value='')
      input(type='submit', value='Submit')