extends layout

block content
  div.container
    div.title
      h1 #{title}
    div.content
      div.card
        p Treyarch
      div.card 
        p Ubisoft
      div.card
        p Bluepoint games
      div.card
        p Fromsoft
      div.card
        p Insomniac games
      div.card
        p Ubisoft