extends layout

block content
  div.container
    div.subheader
      div.title
        h1 #{title}
      div.createNew
        a(href='/studios/compose/new') Create Studio
    div.content
      each studio in studios
        div.tile 
          p #{studio.name}