body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

header {
  background-color: #00B7FF;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

header a {
  color: black;
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.list li {
  display: inline;
  margin: 5px;
  vertical-align: middle;
}

.list li a {
  color: black;
  text-decoration: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.container .title {
  text-align: center;
}

section {
  border: 1px solid;
  border-radius: 25px;
  padding: 10px;
  margin-top: 5px;
}